# Python
*.py[cod]
__pycache__/
*.swp
*~
.DS_Store
venv/
env/
*.egg-info/
instance/
.pytest_cache/

# React
node_modules/
build/
public/
.env
.local
.cache
.pnp*
yarn-error.log*
npm-debug.log*
.DS_Store

# General
*.log
.idea/
.vscode/